// ------ VARIABLES -------

$font-family                    : Helvetica, sans-serif;
$prime-font                     : normal 400 17px/1.5 $font-family;

$primary-color                  : seagreen;
$primary-color-lighter          : lighten(seagreen, 7%);
$accent-color                   : magenta;