html {
  font: $prime-font;
  @include gt460  { font-size: 18px; }
  @include gt600  { font-size: 20px; }
  @include gt900  { font-size: 22px; }
  @include gt1200 { font-size: 24px; }
  // @include gt1500 { font-size: 27px; }
  // @include gt1800 { font-size: 28px; }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

kbd {
  font-size: 0.8rem;
  margin: 0 .1em;
  padding: 0.2em 0.5em;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.4;
  background-color: #e1e3e5;
  border: 2px solid #adb3b9;
  border-radius: 4px;
  box-shadow: 0 0 0 3px #fff inset;
  white-space: nowrap;
}

blockquote {
  margin: 20px 0 20px 20px;
  padding: 5px 40px 5px 15px;
  border-left: 5px $primary-color-lighter solid;
  font-style: italic;
  font-size: 0.9rem;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: none;
  height: 30px;
  clear: both;
  &:before, &:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $primary-color;
    margin: 0 .3rem;
  }
}

///// ----------------

.introduction {
  color: #555;
}

.summary {
  margin-top: 2.5rem;
  color: #555;
}

.sub {
  font-size:75%;
  line-height:0;
  font-style: normal;
  position:relative;
  vertical-align:baseline;
  top: -0.5em;
  // margin-left: 0.2em;
}

.fn {
  font-weight: 700;
  color: $primary-color;
  &:hover {
    color: $accent-color;
  }
  &:focus {
    background-color: $accent-color;
    color: white;
    outline-offset: 0;
    outline: red solid 2px;
  }
}
